<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>공약 작성</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/css/board.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="https://kit.fontawesome.com/b4fd1295e3.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="wrapper">
        <%- include('navigation.ejs') %>
            <div id="logo" class="container">
                <h1 style="font-size:40px; line-height:1.5em;"><a href="/">Democra ; SEE </a></h1>
                <p style="font-size:20px;">Vote Your Life</p>
            </div>
            <table>
                <tr>
                    <table width="100%" class="writeTable" id="postTable">
                        <caption style="font-size : 20px; color : white; padding: 10px; background : #A6192E;">입후보 신청
                        </caption>
                        <tr>
                            <td>제목</td>
                            <td><input type=text name="title" id="title" style="width: 600px;"></td>
                        </tr>

                        <tr>
                            <td>내용</td>
                            <td><textarea name="content" id="content" cols=180 rows=30
                                    placeholder="욕설 및 비방하는 글은 제한하고 있습니다"></textarea>
                            </td>
                        </tr>

                        <tr>
                            <td>첨부하기</td>
                            <td><input type="file" id="file" name="FileName"></td>
                        </tr>

                    </table>

                    <button><a href="/pledge">목록</a></button>
                    <button id="postButton" value="pledge,AA,<%=token%>">작성</button>
                </tr>
            </table>
            <div id="footer">
                <p>© 2012 Untitled Inc. All rights reserved. Lorem ipsum dolor sit amet nullam blandit consequat
                    phasellus
                    etiam lorem. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by <a
                        href="http://fotogrph.com/">Fotogrph</a>.</p>
            </div>
            <%- include('footer.ejs')%>

                <!-- end #footer -->
</body>

</html>