<!-- <script src="/bundle.js"></script> -->

<footer>
	<div id="footer-content">
		<ul>
			<li><a href="#">ABOUT</a></li>
			<li><a href="#">PRIVACY</a></li>
			<li><a href="#">GUIDE</a></li>
			<li>Email : <a href="#">dcrasee@gmail.com</a></li>
		</ul>
	</div>
	<div id="qna">
		<label>Q&A</label>
		<a href="#"><i class="fas fa-comment"></i></a>
	</div>

	<a id="back-top" href="#">
		<i class="fas fa-chevron-up"></i>
	</a>
</footer>
