<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('head.ejs') %>
</head>

<body>
    <%- include('navigation.ejs') %>
	<div id="wrapper">
        <div id="logo" class="container">
            <h1><a href="#">Democra ; SEE </a></h1>
            <p>Vote Your Life</p>
        </div>
        <div id="page" class="container">
            <div id="content">
                <div id="login-box">
                    <form action="/login" method="POST">
                        <div id="register-form">
                        <input name="email" id="email" type="email" placeholder="Email">
                        <input name="password" id="password" type="password" placeholder="Password">
                        <input type="submit" value="LOGIN">
                    </form>
                    <div id="join-box">
                        <a id="join" href="register1">JOIN</a>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
        <!-- Scripts -->
        <%- include('footer.ejs') %>

</body>

</html>