<header>
	<div id="wrapper">
		<div id="menu-wrapper">
			<div id="logo-top">
				<img src="/img/icon.png" width="90" alt="icon">
				<a href="/">Democra;SEE</a>
			</div>
			<ul id="menu-items">
				<li><a href="/application">입후보 신청</a></li>
				<li><a href="/pledge">공약 게시판</a></li>
				<li><a href="/evaluation">공약 이행률</a></li>
				<li><a href="#">공청회</a></li>
				<li><a href="/debate">토론 게시판</a></li>
				<li><a href="/edu">투표 교육</a></li>
				<li><a href="/notice">공지사항</a></li>
				<li><a href="#">BRAND</a></li>
			</ul>
			

			<%if(!user){%>
				<div id="access">
					<a href="login">
						<i class="fas fa-sign-in-alt"></i>
					</a>
					<a href="register1">
						<i class="fas fa-chalkboard-teacher"></i>
					</a>
					<a href="register2">
						<i class="fas fa-id-badge"></i>
					</a>
				</div>
				<a href="#" class="toggle-btn">
					<i class="fas fa-bars"></i>
				</a>
		</div>
		<%}else if(user && user.role==='teacher' ){%>
			<div id="access">
				<a href="/teacher">
					<i class="far fa-clipboard"></i>
				</a>
				<a href="/logout">
					<i class="fas fa-sign-out-alt"></i>
				</a>
			</div>
			<a href="#" class="toggle-btn">
				<i class="fas fa-bars"></i>
			</a>
			<%}else{%>
				<div id="access">
					<a href="/logout">
						<i class="fas fa-sign-out-alt"></i>
					</a>
				</div>
				<a href="#" class="toggle-btn">
					<i class="fas fa-bars"></i>
				</a>
				<%}%>
	</div>		
	
	<div id="logo">
		<a href="#">
			<img src="/img/logo1.png" width="500" alt="logo1">
		</a>
	</div>

					<script>
						const toggleBtn = document.querySelector('.toggle-btn');
						const menu = document.querySelector('#menu-items');

						toggleBtn.addEventListener('click', () => {
							menu.classList.toggle('active');
						});
					</script>
</header>