:root {
	--back:  #373737;
	--light: #fffdfa;
	--red: #A6192E;
	--red-point: #76232F;
  --grey:  #909090;
  --light-grey: #d9d9d9;

  --min: 9px;
  --mid: 10px;
  --max: 12px;
  --super: 20px;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
}

.slide_wrapper .slides img {
	width: 400px;
}

.slide_wrapper {
	position: relative;
	width: 400px;
	margin: 0 auto;
	height: 400px;
	overflow: hidden;
}

.slides {
	position: absolute;
	left: 0; top: 0;
	transition: left 0.5s ease-out;
}

.slides li:not(:last-child) {
	float: left;
	margin-right: 30px;
}

.controls {
	text-align: center;
	margin-top: 30px;
}

.controls span {
	padding: 10px 20px;
	cursor: pointer;
	color: var(--back);
}