
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

:root {
	--back:  #373737;
	--light: #fffdfa;
	--red: #A6192E;
	--red-point: #76232F;
  --grey:  #909090;
  --light-grey: #d9d9d9;

  --min: 9px;
  --mid: 10px;
  --max: 12px;
  --super: 20px;
}

body {
	margin: 0;
	padding: 0;
	background: #fffdfa;
	font-family: Spartan, sans-serif;
	font-size: 12px;
	color: #8A8985;
}

form {
	font-family: Spartan, sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--light);
}

i {
	color: var(--light);
}

input:focus {
	outline: none;
}

/* Header */

#wrapper {
	background: var(--light);
}

.container {
	display: flex;
	flex-direction: column;
}

/*Mail*/
#mail-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}

#mail-content {
  padding: 30px 30px 30px 30px;
}

#mail-bar {
  background-color: var(--red);
  height: 40px;
  border-radius: 10px 10px 0 0;
}

#mail-box {
	width: 35vw;
	height: max-content;
	background-color: var(--light);
  border-radius: 10px;
  box-shadow: 1px 1px 13px 1px;
  font-size: 14px;
}

#mail-box p:first-child {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: var(--grey);
  margin-bottom: 30px;
}

#mail-box p:nth-child(2) {
  line-height: 33px;
  font-size: 11px;
}

#mail-box p:nth-child(3) {
  color: var(--grey);
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin: 30px 0;
}

#mail-box p:nth-child(4) {
  text-align: center;
  margin: 40px 0 10px 0;
  font-size: 11px;
  font-weight: bolder;
}

#mail-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

#mail-list span {
  margin-left: 10px;
}

#mail-list a{
  color: black;
  text-align: center;
  font-size: 9px;
  padding-bottom: 3px;
}

#mail-box p, li{
  color: black;
  font-size: 13px;
  line-height: 25px;
}

#register-now-box {
  display: flex;
  justify-content: center;
  height: fit-content;
  line-height: 35px;
  margin-top: 30px;
}

#register-now {
  text-align: center;
  background-color: var(--red);
  padding: 0 15px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 6px;
}

/* Banner */

#banner {
	overflow: hidden;
	height: 400px;
	background: url(images/img04.jpg) no-repeat center bottom;
}

#banner .image-style {
	border: 15px solid #F4F4F4;
}

/* Logo */

#logo {
	margin: 80px 0 60px 0;
}

#logo a {
  display: flex;
  justify-content: center;
}

/* Splash */

#splash {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
	border-bottom: 1px dashed #E7E2DC;
	letter-spacing: -3px;
	text-align: center;
	font-size: 48px;
}

#splash span {
	color: #313131;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

/* Menu */

#menu-wrapper {
  display: flex;
	background: var(--red);
	justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

#menu-items {
	display: flex;
	justify-content: space-around;
	margin: 0;
  padding: 0;
}

#menu-items li a {
	font-weight: bold;
	padding: 0 15px;
	font-size: var(--max);
}

#menu-items li a:hover {
  color: var(--red-point);
  text-decoration: none;
}

#access {
  margin-left: 13px;
}

#access i {
  font-size: var(--super);
  padding: 0 5px;
}

#logo-top {
  display: flex;
  align-items: center;
	font-size: var(--super);
  font-family: 'Yeon Sung';
}

.toggle-btn {
  display: none;
}

/* Page */

#page {
	padding: 20px 40px;
}

/* Content */
#register-form {
  display: flex;
  flex-direction: column;
	width: 300px;
}

#register-form input {
  border: none;
  height: 28px;
	border: none;
	background-color: var(--light);
	border-bottom: 2px solid var(--red);
	margin: 10px;
  font-size: var(--mid);
}

#register-form input[type='submit'] {
  margin: 10px 0;
  background-color: var(--red);
  color: var(--red);
  cursor: pointer;
}

.welcome-font {
	margin-bottom:30px;
	font-size: var(--space);
}

#register-form input[type="submit"]{
	margin: 10px ;
  background-color: var(--red);
	color:  #E9EAE1;
	border-radius: 4px;
}

#reg-box {
	width: 345px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#reg-box input[type='submit'] {
	margin: 10px ;
  background-color: var(--red);
	color:  #E9EAE1;
	border-radius: 4px;
}

.button {
	color: var(--red);
}

#join-box {
	display: flex;
	justify-content: flex-end;
}

#join-box #join {
	font-size: 10px;
	text-align: right;
	margin-right: 10px;
	width: fit-content;
	color: var(--grey);
}

#content {
	display: flex;
	flex-direction: column; 
	align-items: center;
  justify-content: center;
	padding: 0px 0px 0px 0px;
	margin-bottom: 100px;
}


/*posts*/
#post-wrap {
  display: flex;
  flex-direction: row-reverse;
}

#post-wrap button {
  margin: 15px;
  padding: 7px 15px;
  border: 1px solid var(--grey);
  background-color: var(--light);
  color: var(--back);
  font-size: var(--mid);
  font-weight: bolder;
  height: fit-content;
  cursor: pointer;
}

#post-wrap button:hover {
  background-color: var(--back);
  color: var(--light);
  border-color: var(--back);
}

#write-wrap {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

#search {
  display: flex;
  padding: 0;
  padding: 0 10px;
  align-items: center;
  width: fit-content;
}

#write-wrap select, input[type="text"], button {
  border: none;
  height: 24px;
  font-size: var(--max);
  background-color: var(--light);
  color: var(--back);
}

#write-wrap select {
  font-weight: bolder;
  cursor: pointer;
}

#write-wrap select:focus {
  outline: 0;
}

#write-wrap input[type="text"] {
  margin-left: 10px;
  border-bottom: 1px solid var(--back);
}

#write-wrap button {
  padding: 0;
  cursor: pointer;
}
#write-wrap button:focus {
  outline: 0;
}

#write-wrap button i{
  color: var(--back);
  font-size: 18px;
  position: relative;
  right: 24px;
  bottom: 4px;
}

#wrapper td {
  font-size: var(--mid);
}

/* createPost */
    
.writeTable{
  display: flex;
  flex-direction: column;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  margin : auto;
  width: 80%;
}

.writeTable table {
	border-collapse : collapse;
}

.writeTable tr {
  display: table-row;
  border: 1px solid #ccc;
}


.writeTable caption {
  font-size: var(--super);
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--back);
}

.writeTable td {
  width: 90px;
  padding: 10px 0 8px 20px;
  font-size: var(--max);
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
  color: var(--back);
}

button.permitButton {
  cursor: pointer;
  
  margin: 15px;
  padding: 7px 15px;
  border: 1px solid var(--grey);
  background-color: var(--light);
  color: var(--back);
  font-size: var(--mid);
  font-weight: bolder;
  height: fit-content;
  cursor: pointer;
}

button.permitButton:hover {
  background-color: var(--back);
  color: var(--light);
  border: none;
}

button.permitButton:focus {
  outline: none;
}

tr.stick {
  position: sticky;
  right: 32px;
}

td.ta {
  padding: 10px;
}

textarea#content {
  margin: 0;
  padding: 5px;
}


.writeTable input {
  border: 1px solid var(--light-grey);
  float: left;
  padding: 4px 4px;
  font-size: var(--mid);
  margin: 0;
}

.writeTable button,.writeTable a {
  color: black;
}

.writeTable textarea {
  display: flex;
  width: 100%;
  border: none;
  border: 1px solid var(--light-grey);
  margin: 0;
}

#list-wrap {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}

#list-wrap #postButton, #list-wrap a{
  margin: 10px;
  padding: 7px 15px;
  border: 1px solid var(--grey);
  background-color: var(--light);
  color: var(--back);
  font-size: var(--mid);
  font-weight: bolder;
  height: fit-content;
}

#list-wrap #postButton:hover, #list-wrap a:hover {
  background-color: var(--back);
  color: var(--light);
  border-color: var(--back);
  text-decoration: none;
}


/*
.post {
	overflow: hidden;
}

.post .title {
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 3px solid #E0E1D6;
	text-shadow: 1px 1px 0px #FFFFFF;
	font-size: 26px;
	color: #373737;
}

.post .title a {
	border: none;
	color: #373737;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px;
	text-align: left;
	font-size: 16px;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.more {
	display: block;
	float: left;
	width: 88px;
	height: 25px;
	padding: 2px 0px 0px 0px;
	margin-right: 10px;
	background: url(images/img08.jpg) no-repeat left top;
	text-align: center;
	color: #FFFFFF;
}

.comments {
	display: block;
	float: left;
	width: 88px;
	height: 25px;
	padding: 2px 0px 0px 0px;
	background: url(images/img08.jpg) no-repeat left top;
	text-align: center;
	color: #FFFFFF;
} */

/* Sidebar */

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #787878;
}

#sidebar h2 {
  text-align: center;
  border-bottom: 3px solid #E0E1D6;
  font-size: var(--super);
  font-weight: bold;
  color: var(--back);
  margin: 24px 0;
  padding: 20px 0;
}

#sidebar i {
  color: var(--back);
  margin-right: 10px;
}

.notifications {
  display: flex;
  flex-flow: row wrap;
  margin-top: 100px;
  width: 100vw;
  justify-content: space-evenly;
}

.left-side {
  display: flex;
  flex-direction: column;
}

#todays {

}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#notes {
  margin: 20px 0 100px 0;
  width: 25vw;
}


.notes-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #E0E1D6;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
  font-size: var(--max);
  font-weight: bold;
  color: var(--back);
	text-shadow: 1px 1px 1px var(--grey);
}

.list-style2 {
	margin: 0px;
	padding: 0px;
  list-style: none;
  
}

.list-style2 li {
  margin: 3px 0;
  border-top: 1px solid #E0E1D6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: var(--min);
}

.list-style2 a {
	text-shadow: 1px 1px 0px #FFFFFF;
	color: #909090;
}

.list-style2 a:hover {
	text-decoration: underline;
	color: #909090;
}

.list-style2 .first {
	padding-top: 0px;
	border-top: none;
	background: none;
}

/* Calendar */

#calendar {
  }
  

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 200px 0 40px 0;
}

#qna {
  display: flex;
  align-items: center;
}

#qna i {
  color: #373737;
  font-size: var(--max);
  margin-left: 5px;
}

#qna i:hover {
  color: var(--grey);
}

#qna label {
  color: #373737;
  font-size: var(--min);
  margin-left: 20px;
}

div#footer-content ul {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-left: 0;
}

#footer-content ul a, #footer-content ul li, #qna{
  color: #373737;
  font-weight: bold;
  font-size: var(--min);
}

#footer-content ul li {
  padding: 0 15px;
}

#footer-content a:hover {
  color: var(--grey);
}


#footer-content h2 {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 3px solid #E0E1D6;
	text-shadow: 1px 1px 0px #FFFFFF;
	font-size: 26px;
	color: #373737;
}


#footer p {
	margin: 0;
	padding-top: 10px;
	line-height: normal;
	text-align: center;
	text-shadow: 1px 1px 0px #FFFFFF;
	color: #909090;
}

#footer a {
	text-decoration: underline;
	color: #909090;
}

#footer a:hover {
	text-decoration: none;
	color: #383838;
}

footer #back-top i {
  color: var(--back);
}

footer #back-top {
  font-size: var(--super);
  position: fixed;
  bottom: 60px;
  right: 50px;
  opacity: 0;
}

footer #back-top i:hover {
  color: var(--grey);
}

footer #back-top.visible {
  opacity: 1;
}

/* Banner */
  .banner {position: relative; width: 600px; height: 900px; top: 50px;  margin:0 auto; padding:0; overflow: hidden;}
	.banner ul {position: absolute; margin: 0px; padding:0; list-style: none; }
	.banner ul li {float: left; width:600px; height: 900px; margin:0; padding:0;}
/* Three Column Content */

#three-column {
	overflow: hidden;
	padding: 10px 0px 50px 0px;
}

#three-column #tbox1 {
	float: left;
	width: 384px;
	margin-right: 20px;
}

#three-column #tbox2 {
	float: left;
	width: 384px;
}

#three-column #tbox3 {
	float: right;
	width: 384px;
}

.box-style {
	background: #191919;
}

.box-style h2 {
	padding: 10px 0px;
	letter-spacing: -1px;
	font-size: 28px;
	color: #FFFFFF;
}

.box-style .image {
	width: 324px;
}

.box-style .arrow {
}

.box-style .content {
	overflow: hidden;
	width: 324px;
	padding: 30px;
}


.divider {
	overflow: hidden;
	height: 50px;
	background: url(images/img04.png) no-repeat center top;
} 

@media screen and (max-width: 950px) {
  #menu-wrapper {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }

  #access {
    float: right;
  }

  #menu-items {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }

  #logo-top {
    display: none;
  }

  .toggle-btn {
    display: block;
    position: absolute;
    left: 32px;
    font-size: var(--super);
  }

  #menu-items.active {
    display: flex;
  }
}